<html>
<head>
    <meta charset="UTF-8">
    <title>Account Created YAMACITY</title>
    <style>
        footer {
            text-align: center;
        }
    </style>
</head>
<body>
<h1>Hello {{data.name}},</h1>
<p>
    To activate your account, simply click <a href="{{data.url}}">here</a>.
</p>
<h2>What is it for?</h2>
<p>
    Having a NICI Store account allows you to check order history.
</p>
<h2>Questions?</h2>
<p>
    Contact
    <br>
    <a href="mailto:support@yamacity.com">support@yamacity.com</a>
</p>
<hr>
<footer>
    Yamacity
    <br>
    <a href="{{base.storefrontUrl}}">yamacity.com</a>
</footer>
</body>
</html>
