<html>
<head>
    <meta charset="UTF-8">
    <title>Pending order</title>
    <style>
        footer {
            text-align: center;
        }
    </style>
</head>
<body>
<h1>Hello {{data.order.customer.name}},</h1>
<p>
    We have verified that your order has not yet been paid and we remind you that you have the opportunity to do so within the next 48 hours.
</p>
<p>
    If payment is not confirmed within this period, your order will be canceled.
</p>
<p>
    Once we have confirmation of payment, we will send your order.
</p>
<br />
<p>
    If you have any questions, do not hesitate to<a href="mailto:vendas@nicistore.com">Contact us</a>.
</p>
<p>
    <strong>Thank you for your preference</strong>
</p>
<hr>
<footer>
    Our site
    <br>
    <a href="{{base.storefrontUrl}}">Yamacity.com</a>
</footer>
</body>
</html>
