<div style="background:#f6f6f6;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:12px;margin:0;padding:0">
    <div style="background:#f6f6f6;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:12px;margin:0;padding:0">
        <table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
            <tbody>
                <tr>
                    <td align="center" valign="top" style="padding:20px 0 20px 0">
                        <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #e0e0e0">
                            <tbody>
                                <tr>
                                    <td valign="top" style="text-align:center">
                                        <a href="{{base.storefrontUrl}}" target="_blank">
                                            <img src="{{base.storefrontUrl}}/static/logo.png" alt="yamacity.com" style="margin-bottom:10px" border="0">
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="top">
                                        <h1 style="font-size:22px;margin-top:0">
                                            Hello {{data.customerDetails.name}},
                                        </h1>
                                        <p style="font-size: 18px">
                                            Your order was created.
                                        </p>
                                        <p style="font-size: 18px">
                                            If you have any questions, please feel free to reply to this email with your questions.
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:center;">
                                        <h2 style="font-size:18px;margin-top:0">
                                            Order ID:<br>
                                            {{data.order.id}}
                                        </h2>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table cellspacing="0" cellpadding="0" border="0" width="650" style="border:1px solid #eaeaea">
                                            <thead>
                                                <tr>
                                                    <th align="left" bgcolor="#EAEAEA" style="font-size:13px;padding:3px 9px">Item</th>
                                                    <th align="left" bgcolor="#EAEAEA" style="font-size:13px;padding:3px 9px">Refer</th>
                                                    <th align="center" bgcolor="#EAEAEA" style="font-size:13px;padding:3px 9px">Quantity</th>
                                                    <th align="right" bgcolor="#EAEAEA" style="font-size:13px;padding:3px 9px">Price</th>
                                                </tr>
                                            </thead>
                                            <tbody bgcolor="#F6F6F6">
                                                {{#each data.checkout.cart.products}}
                                                <tr>
                                                    <td align="left" valign="top" style="font-size:11px;padding:3px 9px">
                                                        <a href="{{../base.storefrontUrl}}/pt/products/{{id}}" style="color:#1e7ec8" target="_blank">
                                                            {{details.name.pt}}
                                                        </a>
                                                    </td>
                                                    <td align="left" valign="top" style="font-size:11px;padding:3px 9px">
                                                        {{details.sku}}
                                                    </td>
                                                    <td align="center" valign="top" style="font-size:11px;padding:3px 9px">
                                                        {{quantity}}
                                                    </td>
                                                    <td align="right" valign="top" style="font-size:11px;padding:3px 9px;border-bottom:1px dotted #cccccc">
                                                        <span>{{details.pricing.retail}}&nbsp;¥</span>
                                                    </td>
                                                </tr>
                                                {{/each}}
                                            </tbody>
                                            <tbody style="font-size:11px;">
                                                <tr>
                                                    <td colspan="3" align="right" style="padding:3px 9px">
                                                        Sub-total
                                                    </td>
                                                    <td align="right" style="padding:3px 9px">
                                                        <span>{{data.checkout.subTotal}}&nbsp;¥</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="3" align="right" style="padding:3px 9px">
                                                        Cost
                                                    </td>
                                                    <td align="right" style="padding:3px 9px">
                                                        <span>{{data.checkout.shippingCost}}&nbsp;¥</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="3" align="right" style="padding:3px 9px">
                                                        VAT
                                                    </td>
                                                    <td align="right" style="padding:3px 9px">
                                                        <span>{{data.checkout.vatTotal}}&nbsp;¥</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="3" align="right" style="padding:3px 9px">
                                                        <strong>Total</strong>
                                                    </td>
                                                    <td align="right" style="padding:3px 9px">
                                                        <strong><span>{{data.checkout.total}}&nbsp;¥</span></strong>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <p style="font-size:12px;margin:0 10px 10px 0"></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td bgcolor="#EAEAEA" align="center" style="background:#eaeaea;text-align:center">
                                        <center>
                                            <p style="font-size:12px;margin:0">
                                                Thank you for your preference,
                                                <a href="{{base.storefrontUrl}}" style="color:#1e7ec8" target="_blank">
                                                    {{base.storefrontLabel}}
                                                </a>
                                            </p>
                                        </center>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
